<mat-card class="game-item">
  <mat-card-header>
    <mat-card-title class="game-title">{{ gameItem.title }}</mat-card-title>
    <mat-card-subtitle>
      <span class="game-sub-info">{{ gameItem.genre }} - {{ gameItem.score }} <mat-icon class="score-star">star</mat-icon></span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-chip-list class="editors-choice">
    <mat-chip>{{ gameItem.platform }}</mat-chip>
    <mat-chip *ngIf="gameItem.editors_choice=='Y'" color="accent" selected="true">Editor's Choice</mat-chip>
  </mat-chip-list>
</mat-card>
